body {
    background-color: lightgray;
}

h1 {
    text-align: center;
}

#playArea {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
    max-width: 800px;
    max-height: 800px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin: auto;
    padding: 5px;
}

#ans1 {
    width: 30px;
    height: 20px;
    pointer-events: none;
    margin: 5px;
    margin-top: 19px;
}

#ans2 {
    width: 30px;
    height: 20px;
    pointer-events: none;
    margin: 5px;
    margin-top: 19px;
}

#ans3 {
    width: 30px;
    height: 20px;
    pointer-events: none;
    margin: 5px;
    margin-top: 19px;
}

.prob {
    display: flex;
    display: row;
    
}

#result {
    pointer-events: none;
}

.problem {
    background-color: white;
    font-size: 20px;
    height: 25px;
    width: 100px;
}